@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --cor00: hsl(0, 0%, 100%);
    --cor01: hsl(212, 45%, 89%);
    --cor02: hsl(220, 15%, 55%);
    --cor03: hsl(218, 44%, 22%);
}

*{}

body{ 
    background-color: var(--cor01);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

#card{
    margin: 10vh auto 0vh auto;
    width: 50vh;
    height: 75vh;
    background-color: white;
    border-radius: 14px;
}

#containerimg{
    display: flex;
    justify-content: center;
}

#qrimg{
    width: 45vh;
    border-radius: 10px;
    margin-top: 2vh;
}

#conteudo{
    text-align: center;
    margin: 0px 2vh 0.5vh 2vh;
}

#conteudo>h1{
    font-size: 3.5vh;
    margin: 3vh 3vh;
    font-weight: 700;
}

#conteudo>p{
    color: var(--cor02);
    font-size: 2.4vh;
    margin: -1.3vh 2.8vh 0px 2.8vh;
}

footer{
    margin-top: 8vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}