@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor00:hsl(30, 38%, 92%);
    --cor01:hsl(158, 36%, 37%);
    --cor02:hsl(212, 21%, 14%);
    --cor03:hsl(228, 12%, 48%);
    --cor04:hsl(0, 0%, 100%);
}

body{
   margin: 0px;
   padding: 0px;   
}

div#divmain{
    text-align: center;
    width: 100%;
    height: 100%;
}

img{
    width: 25%;
    height: 2   5%;
}
