@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    /*texto*/ 
    --cor00: hsl(238, 29%, 16%);
    --cor01: hsl(14, 88%, 65%);
    --cor02: hsl(237, 12%, 33%);
    --cor03: hsl(240, 6%, 50%);

    /*background*/ 
    --cor04: hsl(273, 75%, 66%);
    --cor05: hsl(240, 73%, 65%);

    /*divider*/ 
    --cor06: hsl(240, 5%, 91%);
}

*{
    margin: 0px;
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
}

body{
    width: 98vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05));
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor02);
}

#container{
    margin: 10vh auto auto auto;
    height: 79vh;
    width: 65vw;
    background-color: white;
    background-position: -139% 59%;
    background-repeat: no-repeat;
    background-size: 75%;
    background-image: url(images/bg-pattern-desktop.svg);
}

#pcimg{
    position: absolute;
    right: 56.5%;
    top: 22%;
}

#divtxt{
    width: 50%;
    margin-left: 48%;
    font-size: 2vh;
}
#divtxt>h1{
    padding-top: 4vw;
    color: black;
    margin-bottom: 2vw;
}
#perguntas{
    font-weight: normal;
    font-size: 1vw;
    margin-top: 1vh;
}
p{
    display: none;
}

h2{
    cursor: pointer;
    text-align: left;
    width: 88%;
}
h2>img{
    float: right;
    padding-top: 1vh;
}

h2:hover{
    color: var(--cor01);
    transition-duration: 0.3s;
}


/*
button{
    width: 100%;
    text-align: left;
    display: flex;

}
button>h2{
    font-weight: 400;
    display: inline;
}
*/
.visivel{
    display: inline;
}
.invisivel{
    display: none;
}